<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="~{fragments/head :: webjar(title='Account Details')}">
  <meta charset="UTF-8">
  <title>Параметры счета</title>
</head>
<div class="container" th:insert="~{fragments/header :: header(headerTitle='Account Details')}"></div>

<body>
<h3>Детали счета</h3>
<table class="table">
  <tr>
    <th>ID</th>
    <th>Название</th>
  </tr>
  <tr>
    <td th:text="${accountDto.id}"></td>
    <td th:text="${accountDto.name}"></td>
  </tr>
</table>

<form th:action="@{/accounts/update/{id}(id=${accountDto.id})}" method="get">
  <button type="submit" class="btn btn-primary">Изменить счет</button>
</form>

<form th:action="@{/accounts/delete/{id}(id=${accountDto.id})}" method="get">
  <button type="submit" class="btn btn-danger">Удалить счет</button>
</form>
</body>

</html>
