<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="~{fragments/head :: webjar(title='Update Account')}">
    <meta charset="UTF-8">
    <title>Обновление параметров счета</title>
</head>
<body class="d-flex flex-column h-100">

<div class="container" th:insert="~{fragments/header :: header(headerTitle='Costs')}"></div>

<main>
    <div class="container-md">
        <div class="row">
            <div class="col-12 col-sm-10 col-md-7 col-lg-6">
                <div class="alert alert-warning" role="alert">
                    <p>Изменение счета <span th:text="${accountDto.id}"></span></p>
                </div>

                <form th:action="@{/accounts/update/{id}(id=${accountDto.id})}" method="post">
                    <div class="form-group mb-3">
                        <label for="name">Новое название:</label>
                        <input type="text" id="name" name="name" th:value="${accountDto.name}" required><br>
                    </div>
                    <button type="submit" class="btn btn-primary">Обновить счет</button>
                    <a href="/accounts" class="btn btn-outline-secondary" role="button">Отмена</a>
                </form>
            </div>
        </div>
    </div>
</main>
</form>
</body>

</html>