<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="~{fragments/head :: webjar(title='Accounts')}">
    <meta charset="UTF-8">
    <title>Accounts</title>
</head>

<body class="d-flex flex-column h-100">

<div class="container" th:insert="~{fragments/header :: header(headerTitle='Accounts')}"></div>
<main role="main">

    <div class="container-md">
        <div class="alert alert-secondary" role="alert">
            Счета
        </div>

        <a sec:authorize="hasRole('ADMIN')" class="btn btn-primary mb-2" href="/accounts/create"
           role="button">Создать</a>

        <table class="table">
            <thead>
            <tr>
                <th sec:authorize="hasRole('ADMIN')" scope="col">ID</th>
                <th scope="col">Наименование счета</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="account : ${accounts}">
                <td sec:authorize="hasRole('ADMIN')" th:text="${account.id}">1</td>
                <td><a th:href="@{/accounts/{id}(id=${account.getId()})}" th:text="${account.getName()}">name</a></td>
            </tr>
            </tbody>
        </table>

    </div>
</main>
</body>
</html>
