<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="~{fragments/head :: webjar(title='Categories')}">
  <meta charset="UTF-8">
  <title>Login page</title>
</head>
<body class="d-flex flex-column h-100">

<div class="container" th:insert="~{fragments/header :: header(headerTitle='Costs')}"></div>

<main role="main">

  <div class="container-md">

    <a sec:authorize="hasRole('ADMIN')" class="btn btn-primary mb-2" href="/categories/new"
       role="button">Создать</a>

    <!--==================================================================================-->
    <table class="table">
      <thead>
      <tr>
        <th sec:authorize="hasRole('ADMIN')" scope="col">id</th>
        <th scope="col">Наименование</th>
        <th sec:authorize="hasRole('ADMIN')" scope="col">
      </tr>
      </thead>

      <tr th:each="category : ${categories}">
        <td sec:authorize="hasRole('ADMIN')" th:text="${category.getId()}"></td>
        <td><a th:href="'/categories/' + ${category.getId()}" th:text="${category.getName()}"></a></td>

        <td sec:authorize="hasRole('ADMIN')">
          <form th:action="@{'/categories/delete'}" method="POST">
            <input type="hidden" th:id="'id_' + ${category.getId()}" name="id" th:value="${category.getId()}"/>
            <button type="submit" class="btn-danger btn-close" aria-label="Удалить"></button>
          </form>
        </td>
      </tr>
    </table>

    <!--==================================================================================-->
  </div>
</main>

</body>
</html>
