<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Список расходов </title>-->
<!--</head>-->
<!--<body class="d-flex flex-column h-100">-->
<!--<main>-->
<!--    <h1>Список расходов</h1>-->
<!--    <table class="table table-bordered">-->
<!--        <caption>-->
<!--            Список расходов-->
<!--        </caption>-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th scope="col">Дата</th>-->
<!--            <th scope="col">Расход</th>-->
<!--            <th scope="col">Категория</th>-->
<!--            <th scope="col">Сумма</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody th:each="cost:${Costs}">-->
<!--        <tr>-->

<!--            <td th:text="${cost.date}"></td>-->
<!--            <td th:text="${cost.name}"></td>-->
<!--            <td th:text="${cost.category}"></td>-->
<!--            <td th:text="${cost.price}"></td>-->
<!--            <td><a th:href="@{'/costs/'+ ${cost.id}}">Редактировать</a></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->

<!--    <form th:method="get" th:action="@{costs/create}">-->
<!--        <button>Создать</button>-->
<!--    </form>-->
<!--    <form>-->
<!--        <button formaction="/">Просмотр по категориям</button>-->
<!--    </form>-->
<!--</main>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: webjar(title='Список расходов')}">
    <meta charset="UTF-8">
    <title>Список расходов</title>
</head>
<body class="d-flex flex-column h-100">
<div class="container" th:insert="~{fragments/header :: header(headerTitle='Costs')}"></div>
<div class="container"></div>

<main>

    <div class="container-md">
        <form th:method="get" th:action="@{costs/create}">
            <input class="btn btn-primary" type="submit" value="Создать">
        </form>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Дата</th>
                <th scope="col">Расход</th>
                <th scope="col">Категория</th>
                <th scope="col">Сумма</th>
                <th scope="col"></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="cost:${Costs}">
                <td th:text="${cost.date}"></td>
                <td th:text="${cost.name}"></td>
                <td th:text="${cost.category.getName()}"></td>
                <td th:text="${cost.price}"></td>
                <td><a class="btn btn-outline-primary btn-sm" a th:href="@{'/costs/'+ ${cost.id}}" role="button">Редактировать</a>
                </td>
            </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation" th:if="${Costs.getTotalPages()} gt 1">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${Costs.getNumber()} eq 0 ? 'disabled'">
                    <th:block>
                        <a class="page-link"
                           th:href="@{${action}(
                            page=${Costs.getNumber() lt 2 ? 1 : Costs.getNumber()}, size=${pageable.getPageSize()}
                       )}"
                        >Previous</a>
                    </th:block>
                </li>

                <li class="page-item">
                    <span class="page-link" th:text="${Costs.getNumber()} + 1"></span>
                </li>

                <li class="page-item" th:classappend="${Costs.getNumber() + 1 eq Costs.getTotalPages()} ? 'disabled'">
                    <th:block>
                        <a class="page-link"
                           th:href="@{${action}(
                        page=${Costs.getNumber() + 2}, size=${pageable.getPageSize()}
                   )}"
                        >Next</a>
                    </th:block>
                </li>
            </ul>
        </nav>

    </div>
</main>
</body>
</html>