<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Список расходов </title>
</head>
<body>
<h1>Список расходов</h1>
<table class="table table-bordered">
    <caption>
        Список расходов
    </caption>
    <thead>
    <tr>
        <th scope="col">Дата</th>
        <th scope="col">Расход</th>
        <th scope="col">Категория</th>
        <th scope="col">Сумма</th>
    </tr>
    </thead>
    <tbody th:each="cost:${Costs}">
    <tr>

        <td th:text="${cost.date}"></td>
        <td th:text="${cost.name}"></td>
        <td th:text="${cost.category}"></td>
        <td th:text="${cost.price}"></td>
        <td><a th:href="@{'/costs/'+ ${cost.id}}">Редактировать</a></td>
    </tr>
    </tbody>
</table>

<form th:method="get" th:action="@{costs/create}">
    <button>Создать</button>
</form>
<form>
    <button formaction="/">Просмотр по категориям</button>
</form>
</body>
</html>