<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="~{fragments/head :: webjar(title='Users')}">
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body class="d-flex flex-column h-100">

<div class="container" th:insert="~{fragments/header :: header(headerTitle='Costs')}"></div>

<main>

    <div class="container-md">
        <div class="alert alert-secondary" role="alert">
            Пользователи
        </div>

        <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
            <span th:text="${errorMessage}">errorMessage</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        
        <a sec:authorize="hasRole('ADMIN')" class="btn btn-primary mb-2" href="/users/userCreate"
           role="button">Создать</a>

        <table class="table">
            <thead>
            <tr>
                <th sec:authorize="hasRole('ADMIN')" scope="col">id</th>
                <th scope="col">Логин</th>
                <th scope="col">Имя</th>
                <th scope="col">eMail</th>
                <th sec:authorize="hasRole('ADMIN')" scope="col"></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="user: ${users}">
                <td sec:authorize="hasRole('ADMIN')" th:text="${user.getId()}">1</td>
                <td th:text="${user.getLogin()}">Login</td>
                <td th:text="${user.getName()}">name</td>
                <td th:text="${user.getEmail()}">email</td>
                <td sec:authorize="hasRole('ADMIN')">
                    <form th:action="@{'/users/userDelete'}" method="POST">
                        <input th:id="'id_' + ${user.getId()}" th:value="${user.getId()}" type="hidden" name="id"/>
                        <button th:disabled="${user.getLogin() == 'admin'}" type="submit" class="btn-danger btn-close"
                                aria-label="Удалить"></button>
                    </form>
                </td>
            </tr>
            </tr>
            </tbody>
        </table>
    </div>

</main>

</body>
</html>