#config:
#  import: optional:file:.env[.properties]
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
#    url: jdbc:postgresql://${HOST}:5432/${POSTGRES_DATABASE} 
    username: user #${POSTGRES_USERNAME}
    password: pass #${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate.jdbc.time_zone: UTC
    hibernate:
      ddl-auto: validate
  liquibase:
    change-log: "classpath:db/changelog.yaml"
    default-schema: public